<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>vue</title>
	<link rel="stylesheet" href="style.css"></link>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="main.js"></script>
</head>

<body onload="initial();">
	<h1>Vue.js</h1>
	<p>参照：<a href="https://qiita.com/sekiyaeiji/items/f1df5d9d4c8a147eed77">Vue.js 2.x 入門</a></p>
	<div id="component01" class="component">
		<h2>001:v-text</h2>
		<p>mustache構文の出力:{{text}}</p>
		<p>v-textの出力<span v-text="text"></span>
	</div>
	<div id="component02"  class="component">
		<h2>002:v-model</h2>
		<p><input v-model="text" type="text"></p>
		<p>ここに入力文字列を表示します ： {{ text }}</p>
	</div>
	<div id="component03"  class="component">
		<h2>003:v-on:click</h2>
		<p><input v-model="input" type="text"></p>
		<p v-on:click="output" class="button mb10">入力文字列を反映</p>
		<p>ここに入力文字列を表示します ： {{ text }}</p>
	</div>
	<div id="component04"  class="component">
		<h2>004:v-html</h2>
		<p class="mb10"><input v-model="input" type="text"></p>
		<p v-on:click="output" class="button mb10">入力文字列を反映</p>
		<div>ここにHTMLコードを表示します ： {{ html }}</div>
		<div>ここにHTML出力を表示します ： <span v-html="html"></span></div>
	</div>
	<div id="component05"  class="component">
		<h2>005:javascript式</h2>
		<p><input v-model="number" type="number"></p>
		<p>ここに2倍の数字を表示します ： {{ number * 2 }}</p>
	</div>
	<div id="component06"  class="component">
		<h2>006:フィルター</h2>
		<p><input v-model="text" type="text"></p>
		<p>ここに入力文字列の大文字を表示します ： {{ text | toUpperCase }}</p>
	</div>
	<div id="component07"  class="component">
		<h2>007:computed</h2>
		<p><input v-model="number" type="number"></p>
		<p>ここに3倍の数字を表示します ： {{ calc3Times }}</p>
	</div>
	<div id="component08"  class="component">
		<h2>008:computed get set</h2>
		<p>税抜価格 ： <input v-model="origin" type="number"></p>
		<p>税込価格 ： <input v-model="withTax" type="number"></p>
	</div>
	<div id="component09">
		<h2>009:v-bind:class</h2>
		<p v-on:click="toggleClass" class="button mb10">classを切り替え</p>
		<p>ターゲット → <span v-bind:class="{'isShow': isShow, 'isHide': isHide}">表示非表示が切り替わります</span></p>
	</div>
	<div id="component10">
		<h2>010:v-if v-else</h2>
		<p><input type="checkbox" v-model="isChecked" id="cb001"><label for="cb001"> 税込み／税抜き</label></p>
		<p v-if="isChecked">税込み （例 ： 1,080円）</p>
		<p v-else>税抜き （例 ： 1,000円）</p>
	</div>
</body>
</html>
